


.box{
  font-size:50px;
  /* text-align: center; */
  /* padding:5px; */
  border:2px solid black;
  width:100px;
  height:100px;
  line-height:100px;
  text-align: center;
  
  



}
#container{
  /* display:flex; */
  display:grid;
  /* width:400px; */
  width:312px;
  /* height:400px; */
  /* margin:0 auto; */
  margin:50px auto;
  border:2px solid black;
  background-color:lightgray;
  grid-template-columns:repeat(3,auto);
  
}
h1{
  font-size:30px;
  color:purple;
  text-align: center;
  margin:0;
  padding:0;
}
h2{
  font-size: 20px;
  text-align: center;
}
#restart-btn{
  padding:7px;
  border-radius: 10px;
  color:white;
  background-color: purple;
  font-size: 15px;

}
#restart-btn:hover{
  cursor:pointer;
}


/* .winning-message{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;
} */